.form {
  background: #f7f8fa;
  border: 1px solid #d9d9db;
  padding: 10px;
}
.loginmodal {
  height: 700px;
  background-color: aqua;
}
.cross {
  position: absolute;
  top: -65%;
  right: 0%;
  background: none;
  border: none;
}
.cross1 {
  border: none;
  background: none;
}
